<center>
<div class="head2">
<h1 class="top-op">Git-This.Com</h1>
 <p class="top-op" style="float:left; margin-top:10px; margin-left:16px;"><%= link_to "Options", '#' %></p>
  <%if current_user and current_user.role =="admin"%>
          <p class="top-op" style="float:right;  margin-top:10px; margin-left:16px;"> <%= link_to "New", new_main_category_path %> </p>
  <%elsif current_user%>
          <p class="top-op" style="float:right;  margin-top:10px; margin-left:16px;"> <%= link_to "Purchases", user_purchases_path(current_user.id) %> </p>
  <%end%>
</div> 
<div class="div1">
    <% @mcategories.each do |cat| %>
                <%if current_user and current_user.role == "admin"%>
  <p class="main"><%=link_to cat.title, main_category_path(cat.id) %><%=link_to "Admin", edit_main_category_path(cat.id)%></p>
                <%else%>
                     <p class="main"><%=link_to cat.title,main_category_path(cat.id) %></p>
                <%end%>
  
                      <%cat.sub_categories.each do |scat| %>
                              <p class='sub' style=""><%# scat.avatar.url ? image_tag( scat.avatar.url ) : "" %>
                              <%if scat.avatar.url%>
                                <img src="<%= scat.avatar.url %>"  width="42" height="42">
                                <%end%>
                                <%=link_to scat.title, scat %></p>
 
                      <%end%>
      <% end   %>
 </div> 
   <center/>
 
  
  
  
  
  
  
<%    %>
<%    %>
<%    %>
<%    %>
<%    %>
<%    %>
<%    %>
<%    %>
<%    %>
<%    %>
<%    %>
<%    %>
<%    %>
  
 