<h1 style="color: lightgrey"><%= @scategory.main_category.title %></h1>
<h2><%=@scategory.title%></h2>
<p><button><%=link_to "Post Item Here", new_sub_category_item_path(@scategory.id)%></button></p>
<% @scategory.items.each do |item|%>
<p style="color:red;">
 <%= item.avatar.profile.url ? image_tag( item.avatar.profile.url ) : "" %>
  <%=link_to item.name, sub_category_item_path( @scategory.id, item.id )  %>
</p>

<% end%>
