<center style="margin-bottom:100px;">
<h1><%=@item.name%></h1>
  <%if current_user%>
        <% if current_user.role == "admin" || @item.user_id == current_user.id  %>
              <p><button><%=link_to "edit item", edit_sub_category_item_path(@item.sub_category_id, @item.id)%></button></p>
        <%end%>
  <%end%>
  
  <%if @item.item_pics.length >= 1  %>
        <% @item.item_pics.each do |pic|%>
        <div style="display:inline;">
           <%= image_tag( pic.avatar.url, size: "200" ) %> 
          <%end%>
         </div>
  <%end%>
  <p> <%= @item.body %> </p>
  
  
  <% if current_user %>
  <% match = current_user.purchases.where( Item_id: @item.id ).pluck[0] %>
        <% # if Purchase.where(user_id: current_user.id) %>
         <% if match %>
                <div style="margin-top:100px;">
                <h4>Already Purchased</h4> 
            
     <a class='btn btn-success' href="<%=@item.avatar%>" download >download</a>
                  <%=link_to "download", sub_category_item_path(@item.sub_category_id, @item, format: "pdf"), class: 'btn btn-success'%>
                 </div> 
          <%else%>
                        <%= form_tag item_charges_path(@item.id) do %>
    
                       <article>
                          <label class="amount">
                            <span>  <h3>Git this</h3> <p>Amount: <%= @item.price == nil ? "Free" : "#{@item.price}$" %></p></span>
                          </label>
                        </article>

                        <script src="https://checkout.stripe.com/checkout.js" 
                                class="stripe-button"
                                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                                data-description="<%=@item.name%>"
                                data-amount="<%= @item.price.to_i*100 %>">
                        </script>
                        <% end %>
        <%end%>
  
  <%else%>
  <div style="margin-top:100px; ">
  <p><b>To git this please sign in or sign up</b></p>
<%=link_to "Sign in", user_session_path , class: 'btn btn-success'  %> or <%=link_to "Sign up", new_user_registration_path , class: 'btn btn-success'  %>
  
  
  <%end%> 
  
  </div>
</center>





































